---
layout: layouts/base.vto
title: About
description: About
permalink: /about/
---
<main>
  <section>
    <h1 class="terminal-prompt">About me</h1>
    <ul>
      <li>A simple C++/Go Developer</li>
      <li>Work on Arch Linux and deploy on NixOS</li>
      <li>like somethings: `DIY` `Self-host` `Manga about yuri` `isekaijoucho` </li>
    </ul>
  </section>
</main>